---
title: "The Shopify Branch"
description: "The Shopify branch of the advanced starter kit. Statically build a basic frontend for a Shopify store,
fulfilling the needs of a small business with the fastest possible store."
permalink: "/"
eleventyNavigation:
    key: "Home"
    order: "100" 
---

{% extends 'layouts/base.html' %}

{#
    CS-TODO: If you want /shop to display a listing of all products, change this page to extend from
    'layouts/collection.html' above and remove all other content below this comment
#}

{% block head %}
    <link rel="stylesheet" href="/assets/css/shop.css"/>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1400">
        <div class="cs-container">
            <span class="cs-int-title">Shopify e-commerce</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">Shopify</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="../../assets/images/Nocturnal-carve.jpeg"/>
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="../../assets/images/Nocturnal-carve.jpeg"/>
            <img decoding="async" src="../../assets/images/Nocturnal-carve.jpeg" alt="people laughing" width="1280" height="568" aria-hidden="true"/>
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                    Stats                     -->
    <!-- ============================================ -->

    <section id="sbs-297">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-number">100+</span>
                    <span class="cs-desc">The Fastest Stores Possible</span>
                    <!--Background image for cs-box-->
                    <picture class="cs-box-picture">
                        <source media="(max-width: 600px)" srcset="https://cdn.shopify.com/s/files/1/0850/9197/5458/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1703420186"/>
                        <source media="(min-width: 601px)" srcset="https://cdn.shopify.com/s/files/1/0850/9197/5458/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1703420186"/>
                        <img loading="lazy" decoding="async" src="https://cdn.shopify.com/s/files/1/0850/9197/5458/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1703420186" alt="greek pillars" width="521" height="672" aria-hidden="true"/>
                    </picture>
                </div>
                <!--Big Background Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://cdn.shopify.com/s/files/1/0850/9197/5458/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1703420186"/>
                    <source media="(min-width: 601px)" srcset="https://cdn.shopify.com/s/files/1/0850/9197/5458/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1703420186"/>
                    <img loading="lazy" decoding="async" src="https://cdn.shopify.com/s/files/1/0850/9197/5458/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1703420186" alt="greek pillars" width="521" height="672" aria-hidden="true"/>
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Premium Snowboards for Every Ride</span>
                <h2 class="cs-title">Shop the Best in Snowboarding Gear</h2>
                <p class="cs-text">
                    Whether you're carving through fresh powder or hitting the park, our collection of snowboards is designed to enhance your ride. Discover boards crafted for speed, control, and performance—perfect for every skill level and style.
                </p>
                <p class="cs-text">
                    Explore a wide range of top-quality snowboards from leading brands, tailored to meet the demands of both seasoned pros and beginners. From freestyle boards to all-mountain and backcountry options, we have the perfect gear for your next adventure.
                </p>
                <p class="cs-text">
                    Shop with confidence knowing that each board in our collection is selected for its durability, design, and performance. Plus, enjoy fast shipping and easy returns on all orders, ensuring you're always ready for the slopes.
                </p>
                <p class="cs-text">
                    Don't forget to check out our latest arrivals and limited-edition releases, offering exclusive styles and cutting-edge snowboard technology. Gear up for the season with our expertly curated selection.
                </p>
                <p class="cs-text">
                    Elevate your snowboarding experience with high-performance boards and accessories that are built to perform in all conditions. Shop now and prepare for your best ride yet.
                </p>
                <a href="/collection/automated-collection/" class="cs-button-solid">See products</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                    Stats                     -->
    <!-- ============================================ -->

    <section id="stats-1642">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Getting Started</span>
                <h2 class="cs-title">3 Steps to Success</h2>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../../assets/images/success.jpeg"/>
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../../assets/images/success.jpeg"/>
                    <img loading="lazy" decoding="async" src="../../assets/images/success.jpeg" alt="people" width="608" height="406"/>
                </picture>
            </div>
            <div class="cs-stats-group">
                <!--Red Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99"/>
                <p class="cs-text">
                    If you haven’t already, join our community of snowboard enthusiasts by creating an account. This will allow you to easily track your orders, manage your wishlist, and stay updated on exclusive offers and new arrivals. Sign up today and get ready to elevate your snowboarding experience!
                </p>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">01</span>
                            <h3 class="cs-h3">Pick Your Board</h3>
                        </div>
                        <p class="cs-item-text">
                            Browse through our collection of top-quality snowboards to find the perfect match for your style and skill level. Whether you're a beginner or a seasoned rider, we've got the board for you.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">02</span>
                            <h3 class="cs-h3">Secure Checkout</h3>
                        </div>
                        <p class="cs-item-text">
                            Once you've chosen your board, head to our secure checkout. With fast shipping options and easy payment methods, your new gear will be on its way in no time.
                        </p>
                    </li>
                    <li class="cs-item">
                        <div class="wrapper">
                            <span class="cs-item-number">03</span>
                            <h3 class="cs-h3">Enjoy the Fresh Snow</h3>
                        </div>
                        <p class="cs-item-text">
                            Get ready to hit the slopes with confidence! Your new snowboard is built for performance, so you can shred the mountain and make the most of every moment in the snow.
                        </p>
                    </li>
                </ul>
                
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1640">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">About Montagne Noire Web Studio</span>
                <h2 class="cs-title">Crafting the Ultimate Shopify Experience</h2>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../../assets/images/about.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../../assets/images/about.jpeg">
                    <img loading="lazy" decoding="async" src="../../assets/images/about.jpeg" alt="people" width="608" height="406">
                </picture>
            </div>
            <div class="cs-stats-group">
                <p class="cs-text">
                    At Montagne Noire, we are passionate about snowboarding. Based in the heart of the mountains, we understand what it takes to ride in style and perform at your best. Our mission is to provide high-quality snowboards and gear for every type of rider, from first-timers to seasoned pros.
                </p>
                <p class="cs-text">
                    We carefully curate our collection to ensure that every board meets the highest standards of design, durability, and performance. Our team of experts is dedicated to helping you find the perfect gear for your adventures on the slopes.
                </p>
                <p class="cs-text">
                    Whether you're exploring fresh powder or carving up the park, Montagne Noire is here to support your passion for snowboarding. Join our community and discover the difference that quality gear and expert guidance can make.
                </p>
            </div>
        </div>
    </section>
{% endblock %}